<nav class="navbar">
    <a class="tituloprincipal"><strong>Rangel Company </strong></a>
    <a style="float:right" href="https://api.whatsapp.com/send?phone=5521974006205&text=Ol%C3%A1%20Rangel!%20gostaria%20de%20um%20servi%C3%A7o%2C%20est%C3%A1%20dispon%C3%ADvel%3F" target="_blank"><button class="whatsappbutton"><strong>Chamar no Whatsapp!</strong></button></a>
</nav>