<div class="conteiner">

    <div class="bloco" id="conteudo1">
        <h2>Levaremos a sua empresa para outro nível!</h2>
        <p>Olá, eu me chamo Gabriel Rangel! sou fundador da Rangel Company, o nosso propósito é transformar o Brasil com os melhores serviços de tecnologia!</p>
    </div>

    <div class="bloco" id="conteudo2">

    </div>

</div>