<main>

    <video autoplay muted loop id="fundo-conteiner">
        <source src="video/fundo-conteiner-1.mp4" type="video/mp4"/>
    </video>
    
    <section class="conteiner">
        
        
        
        <div class="bloco" id="conteudo1">
            <h1 id="subtitulo">Olá! eu me chamo Gabriel Rangel!</h1>
            <h3 id="apresentação">Tudo bem? bem vindo ao site da Rangel Company! sou um profissional na área de tecnologia formado em sistemas de informação, além do diploma eu também tenho curso tecnico e já trabalhei em diversos projetos de ti desde criação de web sites a analise de dados utilizando power bi e excel, sou apaixonado por Python e Ruby, além de trabalhar bem com HTML e CSS, conheço diversos frameworks e bibliotecas que vai ajudar em seu negócio!</h3>
        </div>

        <div class="bloco" id="conteudo2">

        </div>

    </section>
</main>