@charset "UTF-8";

.navbar{
    background-image: linear-gradient(to right,#3D4DE0 ,#0c124d);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

h1{
    display: inline-block;  
    color: white;
    font-size: 30px;
    margin-left: 15px
}

.whatsappbutton {
    margin-top: 13px;
    margin-right: 15px;
    display: inline-block;
    height: 60px;  
    width: 180px;
    background: #25ea5f;
    background-image: -webkit-linear-gradient(top, #25ea5f, #2aed63);
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 15px;
    text-shadow: 4px 1px 20px #34333b;
    border: solid #090d36ce ;
    float: right;
 }

 .whatsappbutton:hover {
    display: inline-block;
    height: 60px;  
    width: 180px;
    background: #25ea5f;
    background-image: -webkit-linear-gradient(top, #25ea5f, #2aed63);
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 15px;
    text-shadow: 4px 1px 20px #34333b;
    border: solid #FFCD19;
    cursor: pointer; 
}